
<p><a href='/owners/new'>Register New Owner</a></p>
<h2>List of Registered Owners</h2>
<hr/>
<div id='owner-index'>
<% @owners.each do |x| %>
<p>Name: <a href='/owners/<%= x.id %>'><%=x.name %></a> </p>
<p>List of Pets:</p>
<ul>
<% x.animals().each do |pet| %>
<li><a href='/animals/<%= pet.id%>'><%= pet.name %></a></li>
<% end %>
</ul>
<form id='button' method='get' action='/owners/<%= x.id %>/edit'>
  <input type='submit' value='Edit'>
</form>
<form id='button' method='post' action='/owners/<%= x.id %>/delete'>
  <input type="submit" value='Delete'>
</form>
<hr/>
<% end %>
</div>
